@{
    var books = (List<Book>) ViewData["books"];
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Livros</h2>

<p>
    <a asp-action="Form">Create New</a>
</p>

<div class="row">
    <div class="col-xs-12">
        <form asp-action="Search">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" name="search" class="form-control" id="search" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nome
            </th>
            <th>
                Autor
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in books) {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
